/project3/.venv
/project3/*.zip
/project3/unpacked_directories/
/labcourse16/todolist.txt
/labcourse16/sources
/labcourse16/aas_macros.sty
/labcourse16/header.tex
/labcourse16/report.aux
/labcourse16/report.bbl
/labcourse16/report.blg
/labcourse16/report.fdb_latexmk
/labcourse16/report.fls
/labcourse16/report.log
/labcourse16/report.out
/worksheet/labcourse16/report.pdf
/labcourse16/report.synctex.gz
/labcourse16/report.tex
/labcourse16/report.toc
/labcourse16/reportNotes.bib

