    td{white-space:nowrap;}
    td.align{font:10pt "Courier New";color:black;white-space:nowrap;}
    td.tab{font:9pt verdana, arial;color:black;white-space:nowrap;}
    td.tabs{font:9pt verdana, arial;color:black;white-space:nowrap;}
    td.message{font:9pt verdana, arial;color:red;white-space:nowrap;}
    
    td.chart{font:10pt verdana; color:#083194;white-space:nowrap;}

    p.title{font: bold 14pt verdana, arial; color:#083194; text-align:center;text-decoration:none;padding-top:5px;}
    p.foot{text-align:center; font:8pt verdana, arial; color:#e0e0e0; text-decoration:none;}
    p.ackno{text-align:center; font: italic 8pt verdana, arial; color:#e0e0e0; text-decoration:none;}
    p,li,td,form{font:9pt verdana,arial;color:black;}

    p.fp{font:9pt verdana, arial;color:black;}
            
    form{font:9pt verdana, arial;color:black; padding: 0pt;margin: 0pt;}
    
    td.cct{font:8pt arial;color:black;white-space:nowrap;}
    td.zc{font:9pt verdana, arial; color:black;white-space:nowrap;}
    td.zh{font:9pt verdana, arial; color:white; text-align:center;background:#c6e7de;white-space:nowrap;}

    td.results{font:13pt "Courier New";white-space:nowrap;}
    td.su{font:9pt "Courier New";white-space:nowrap;}
    td.ff{color:red;font:10pt "Courier New";white-space:nowrap;}
    em.ss{font:10pt "symbol";}
    em.s{font:12pt "symbol";}
    
    td.shead{font:11pt "Arial"; color:black; text-align:center; background:#e0e0e0;white-space:nowrap;}
    a.sres{font:10pt "Courier New"; color:blue; text-decoration:none;white-space:nowrap;}
    td.sres{font:10pt "Courier New";color:black; background:#ffffff; white-space:nowrap;}
    td.sresn{font:10pt "Courier New";color:black; background:pink;white-space:nowrap; }
    p.stitle{font: bold 12pt verdana, arial; color:#083194; text-align:left;text-decoration:none;}
    
    a{font:9pt verdana, arial; color:blue; text-decoration:none; }
    a.link{font:9pt verdana, arial; color:blue; text-decoration:none; }
    a.search{font:10pt verdana, arial; color:blue; text-decoration:none;}
    a.ackno{text-align:center; font:italic 8pt verdana, arial; color:yellow; text-decoration:none;}
    a.zc{font:9pt verdana, arial; color:blue; text-decoration:none; }

    a.ackno:hover{background:#082984}
    a.link:hover{background:yellow}
    a.search:hover{background:yellow}
    a.zc:hover{background:yellow}


    table.hp0{background-color:#000099; padding:2px; border-spacing:1px; border-width:thin;}
    td.hp1{font:11pt verdana, arial;background-color:blue; color:#ffffff; text-align:center;white-space:nowrap;}
    tr.hp{font:9pt verdana, arial;background-color:#ffffff;color:navy; text-align:center; vertical-align:top; white-space:nowrap;}
    tr.cp{font:9pt verdana, arial;background-color:#ffffff;color:blue; text-align:center;  vertical-align:top; white-space:nowrap;}
    td.dec{width:700px;}

    ul.{text-indent:0}
    li.{text-indent:0}

